.app__home-heading{
    color: white;
    letter-spacing: 5px;
    font-style: italic;
    width: 100%; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.app__home-container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-top: 10px;
}

.app__home-card{
    margin-top: 30px;
    margin-bottom: 30px;
}